<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharpener HomePage</title>
    <link rel="stylesheet" href="/indexStyle.css">
</head>
<body>
      <nav>
        <a id="link" href="/Home">Home</a>
        <a id="link" href="/Home">Courses</a>
        <a id="link" href="/Home">Hire With Us</a>
        <a id="link" href="/Home">Pricing</a>
        <a id="link" href="./register.html">Register Now</a>
      </nav>
</body>
</html> -->